<?xml version="1.0" ?>
<launch>

<node name="turtlesim_node" pkg="turtlesim" type="turtlesim_node" output="screen"/>

<!-- launch parameters -->
<rosparam command="load" file="$(find assignment1_rt)/config/params.yaml"/>

<node name="gui_node" pkg="assignment1_rt" type="gui.py" output="screen"/>
<node name="distance_node" pkg="assignment1_rt" type="distance.py"/>

</launch>